Checks: >
  -*,
  clang-analyzer-*,
  -clang-analyzer-core.FixedAddressDereference,
  -clang-analyzer-optin.*,
  -clang-analyzer-security.ArrayBound,
  -clang-analyzer-security.PointerSub,
  -clang-analyzer-security.insecureAPI.*,
  bugprone-*,
  -bugprone-assignment-in-if-condition,
  -bugprone-branch-clone,
  -bugprone-casting-through-void,
  -bugprone-easily-swappable-parameters,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-inc-dec-in-conditions,
  -bugprone-macro-parentheses,
  -bugprone-multi-level-implicit-pointer-conversion,
  -bugprone-narrowing-conversions,
  -bugprone-not-null-terminated-result,
  -bugprone-reserved-identifier,
  -bugprone-signed-bitwise,
  -bugprone-signed-char-misuse,
  -bugprone-sizeof-expression,
  readability-misleading-indentation
WarningsAsErrors: '*'
